# Claves maestras y credenciales (NUNCA subir a GitHub)
/config/master.key
/config/credentials/*.key

# Variables de entorno
.env
.env.*
!.env.example

# Bases de datos locales SQLite
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-shm
/db/*.sqlite3-wal

# Logs y temporales
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep

# Dependencias y Bundler
/.bundle
/vendor/bundle

# Node / JS
/node_modules
yarn-error.log
package-lock.json

# Entornos y compilación de assets
/public/assets
/public/packs
/public/packs-test

# Archivos de sistema y editores
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*~
